body {
	font-family: "nimbus-sans-n4", "nimbus-sans",sans-serif;
	font-style: normal;
	font-weight: 500;
 	font-size: 1.25em;
 	line-height: 1.5em;
	text-rendering: optimizeLegibility;
	/*-webkit-font-smoothing: antialiased;  */}
	
.text{
	font-size: .6em;
	line-height: 1.4em;
	font-weight: 400;
	color: #555;
	
}	

.center{
	 text-align: center;
}
  
.font2{
	font-family: "acuta-i2","acuta",sans-serif;
	font-weight: 100;
	font-style: italic;
}  

  h1, h2, p, ul, ol, pre, dl {
    margin-bottom: 1.0em;
  }
  
  h1, h2, #super-list, .element, .tagline, #index-list, 
  .super-list .link {
   font-family: "nimbus-sans-n4", "nimbus-sans",sans-serif;
    font-style: normal;
    font-weight: 700;  }
  
  h1, h2, h3 { font-weight: 700; }
  
  h1 {
    font-size: 24px;
    line-height: 1.1em;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 18px;
    line-height: 1.1em;
  }
  
  h3 {
    font-size: 16px;
    line-height: 1.3em;
    margin-bottom: .8em;
  }
  
  h4 {
    font-size: 13px;
    line-height: 1.4em;
    font-weight: 400;
    padding-top: 1.4em;
  }
  
  
  h5  {
    font-size: 12px;
    line-height: 1.4em;
    list-style: none;
    font-family: "acuta-i2","acuta",sans-serif;
    font-style: italic;
    font-weight: 200;
  }
  
  ul, ol {
    /*margin-left: 1.5em;*/
  }
  
/*  a,
  a code {
    color: #FB4;
    text-decoration: none;
  }
  
  a:hover,
  a:hover code { 
    color: #4BF; 
  }
  
  a:active,
  a:active code {
    color: #1FB;
    background: white;
  }*/
  
  a img { border: none; }
  
  em { font-style: italic; 
  }
  
  strong { font-weight: bold; }
  
  blockquote {
    padding-left: 1.0em;
    margin-left: 1.0em;
    border-left: 1px solid #333;
    font-style: italic;
  }
  
  